@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Seaweed+Script&display=swap');
@import url('https://fonts.cdnfonts.com/css/sequel?styles=37705');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body{
  font-family: var(--font-saira);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* color */
  --color-black: var(--color-black);
  --color-white: var(--color-white);
  --color-primary-800: var(--color-primary-800);

  /* spacing */
  --spacing-space-minus-10: -10px;
  --spacing-space-3: 3px;
  --spacing-space-4: 4px;
  --spacing-space-10: 10px;
  --spacing-space-12: 12px;
  --spacing-space-14: 14px;
  --spacing-space-16: 16px;
  --spacing-space-18: 18px;
  --spacing-space-20: 20px;
  --spacing-space-24: 24px;
  --spacing-space-23: 23px;
  --spacing-space-27: 27px;
  --spacing-space-32: 32px;
  --spacing-space-37: 37px;
  --spacing-space-42: 42px;
  --spacing-space-43: 43px;
  --spacing-space-45: 45px;
  --spacing-space-52: 52px;
  --spacing-space-62: 62px;
  --spacing-space-70: 70px;
  --spacing-space-75: 75px;
  --spacing-space-80: 80px;
  --spacing-space-90: 90px;
  --spacing-space-100: 100px;
  --spacing-space-113: 113px;
  --spacing-space-156: 156px;
  --spacing-space-203: 203px;
  --spacing-space-742: 742px;
  --spacing-space-793: 793px;
  --spacing-space-825: 825px;


  /* size */
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
  --text-37: 37px;
  --text-42: 42px;
  --text-43: 43px;
  --text-52: 52px;
  --text-62: 62px;
  --text-70: 70px;
  --text-75: 75px;
  --text-80: 80px;
  --text-90: 90px;
  --text-100: 100px;
  --text-113: 113px;
  --text-156: 156px;

  /*font family*/
  --font-seaweed : var(--font-seaweed);
  --font-saira : var(--font-saira);

  /* radius */
  --radius-4: 4px;
  --radius-5: 5px;

  /* blur */
  --blur-4: 4px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  
  /* color */
  --color-black: #000000;
  --color-primary-800: #294E73;
  --color-white: #fff;

  

  /* font family */
  --font-seaweed: "Seaweed Script", cursive;
  --font-saira: "Saira", sans-serif;
  --font-Sequel: "Sequel", sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities{

  .blur-4{
    filter: blur(4px);
  }

  .arrow{
    width: 25px;
  }
}

@layer components{
  .hover-zigzag-underline{
    @apply relative cursor-pointer;
  }

  .hover-zigzag-underline::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 10px;
    opacity: 0;
    transition: width 0.3s ease-out, opacity 0.2s ease-out;
    background-image: url('./assets/zigzag.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .hover-zigzag-underline:hover::after{
    width: 100%;
    opacity: 1;
  }
}

@utility no-scrollbar{
  -ms-overflow-style: none;
  scollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}