@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

html,
body {
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  background-color: var(--color-tertiary-color);
}

@theme inline {
  --font-heading: var(--font-space);
  --font-body: var(--font-inter);
  --font-label: var(--font-space);
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
 
  --color-primary-color: var(--primary-color);
  --color-primary-500: var(--primary-500);
 
  --color-secondary-color: var(--secondary-color);
 
  --color-tertiary-color: var(--tertiary-color);
  --color-tertiary-200: var(--tertiary-200);
  --color-tertiary-500: var(--tertiary-500);

  --color-neutral-color: var(--neutral-color);
  --color-neutral-muted: var(--neutral-muted);
  
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --primary-color: #39ff14;
  --primary-500: #107100;

  --secondary-color: #7df9ff;

  --tertiary-color: #190c2d;
  --tertiary-200: #302445;
  --tertiary-500: #211536;

  --neutral-color: #0d0221;
  --neutral-muted: #ecdcff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@layer base {
  main {
    @apply w-dvw h-dvh px-6 select-none overflow-x-hidden no-scrollbar flex flex-col;
  }

  nav {
    @apply font-heading py-4 ;

    #desktop-nav {
      @apply flex justify-between items-center;

      div {
        @apply flex items-center;

        h1 {
          @apply text-2xl text-primary-color font-bold;
        }

        &:last-child {
          @apply max-sm:hidden;
        }
      }

      ul {
        @apply flex items-center gap-8 max-sm:hidden;

        p {
          @apply text-sm font-bold text-neutral-muted cursor-pointer transition-all duration-100 ease-in-out;
        }

        p:hover {
          @apply text-primary-color border-b-4 py-1;
        }

        p.active {
          @apply text-primary-color border-b-4 py-1;
        }
      }
    }

    #mobile-nav {
      @apply left-0 right-0 bottom-0 fixed sm:hidden px-11 py-3 bg-tertiary-200 text-neutral-muted border-t-4 border-neutral-color;

      ul {
        @apply flex justify-between items-center;

        li {
          @apply flex flex-col items-center font-bold text-sm gap-2;
        }

        li:hover{
          @apply text-primary-color;
        }

        li:active{
          @apply text-primary-color;
        }
      }
    }
  }

  #construction{
    @apply flex-1 sm:flex-center max-sm:mt-12;

    div{
      @apply bg-tertiary-500 p-6 text-neutral-muted border-t-4 border-secondary-color;

      p {
        @apply text-center
      }
    }
  }

  #copy-right{
    @apply max-sm:hidden py-1 fixed left-0 right-0 bottom-0 bg-neutral-color text-neutral-muted text-sm text-center;
  }
}
